section.wrapper#signin
  div
    div
      h2.form-signin-heading Please sign in
      img(src='img/lock.svg')
      div.arrow-down
    form.form-signin(novalidate)

      p.alert.alert-danger(ng-show='error') {{error}}
      div.form-group
        label(for='username') Username:
        input(
          type='email'
          id='username'
          placeholder='username'
          ng-model='username'
          required
          autofocus
        )

      div.form-group
        label(for='password') Password:
        input(
          type='password'
          id='password'
          placeholder='password'
          ng-model='password'
          required
        )

      button.btn.btn_turquoise.btn-signin(
        type='submit' ng-click='signin(username, password)'
      ) Sign in

      a(ui-sref='signup') Sign up
      a(ui-sref='reset-password-req') Forgot password?
