section.wrapper#signin(ng-controller='profileController')
  div
    div 
      h2.form-signin-heading Password reset
    form.form-signin(novalidate)
      p.alert.alert-danger(ng-show='errorMessage') {{errorMessage}}
      br
      div(ng-if='successMessage')
        div.successMessage
          p.text {{successMessage}}
      div(ng-if='!successMessage')
        div
          p.text Please enter the e-mail you'd like to reset the password for below:

        div.form-group(ng-class="{'error': errorMessage}")
          br
          input(
            type='email'
            id='email'
            placeholder='Your e-mail...'
            ng-model='email'
            required
            validate
          )
          br

        button.btn.btn_turquoise.btn-signup(
          type='submit' ng-click='resetPasswordReq(email)'
        ) Reset the password
